<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Panel Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-content">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11" class="profile-header">
          <ion-text>
            <h2>Calendario</h2>
          </ion-text>
          <ion-datetime presentation="date"></ion-datetime>
        </ion-col>

        <ion-col size="11">
          <ion-text>
            <h2>Notas</h2>
          </ion-text>

          <ion-item *ngFor="let i of listadoNotas">
            <app-nota [nota]="i" />
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<!-- Bienvenido! Facundo Panozzo -->

<app-menu-tabs [estaLoggeado]="true"></app-menu-tabs>