<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Creditos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-content">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio odit culpa itaque nihil dolor beatae vel harum quos officia est voluptates quae tempora, reprehenderit omnis aspernatur deserunt ipsum! Incidunt, corrupti?</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<app-menu-tabs></app-menu-tabs>